.m-0 {
  margin: 0px
}

.m-4 {
  margin: 1rem
}

.my-0 {
  margin-top: 0px;
  margin-bottom: 0px
}

.my-2 {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem
}

.mb-4 {
  margin-bottom: 1rem
}

.ml-2 {
  margin-left: 0.5rem
}

.mb-2 {
  margin-bottom: 0.5rem
}

.flex {
  display: flex
}

.h-52 {
  height: 13rem
}

.flex-none {
  flex: none
}

.flex-1 {
  flex: 1 1 0%
}

.grow {
  flex-grow: 1
}

.flex-row {
  flex-direction: row
}

.flex-col {
  flex-direction: column
}

.items-center {
  align-items: center
}

.justify-end {
  justify-content: flex-end
}

.self-start {
  align-self: flex-start
}

.overflow-hidden {
  overflow: hidden
}

.rounded-lg {
  border-radius: 0.5rem
}

.rounded-full {
  border-radius: 9999px
}

.rounded-xl {
  border-radius: 0.75rem
}

.border-0 {
  border-width: 0px
}

.border-none {
  border-style: none
}

.bg-neutral-800 {
  --tw-bg-opacity: 1;
  background-color: rgb(38 38 38 / var(--tw-bg-opacity))
}

.bg-emerald-700\/80 {
  background-color: rgb(4 120 87 / 0.8)
}

.bg-neutral-900 {
  --tw-bg-opacity: 1;
  background-color: rgb(23 23 23 / var(--tw-bg-opacity))
}

.p-0 {
  padding: 0px
}

.p-4 {
  padding: 1rem
}

.p-1 {
  padding: 0.25rem
}

.py-0\.5 {
  padding-top: 0.125rem;
  padding-bottom: 0.125rem
}

.px-3 {
  padding-left: 0.75rem;
  padding-right: 0.75rem
}

.py-0 {
  padding-top: 0px;
  padding-bottom: 0px
}

.py-3 {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem
}

.py-1 {
  padding-top: 0.25rem;
  padding-bottom: 0.25rem
}

.py-2 {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem
}

.pl-1 {
  padding-left: 0.25rem
}

.pr-4 {
  padding-right: 1rem
}

.pt-4 {
  padding-top: 1rem
}

.text-left {
  text-align: left
}

.font-rBold {
  font-family: rBold
}

.font-rMedium {
  font-family: rMedium
}

.font-rcRegular {
  font-family: rcRegular
}

.font-glamourRegular {
  font-family: glamourRegular
}

.font-rcMedium {
  font-family: rcMedium
}

.font-rcSemiBold {
  font-family: rcSemiBold
}

.text-base {
  font-size: 1rem;
  line-height: 1.5rem
}

.text-sm {
  font-size: 0.875rem;
  line-height: 1.25rem
}

.text-lg {
  font-size: 1.125rem;
  line-height: 1.75rem
}

.text-4xl {
  font-size: 2.25rem;
  line-height: 2.5rem
}

.text-xl {
  font-size: 1.25rem;
  line-height: 1.75rem
}

.text-2xl {
  font-size: 1.5rem;
  line-height: 2rem
}

.uppercase {
  text-transform: uppercase
}

.leading-5 {
  line-height: 1.25rem
}

.text-gray-900 {
  --tw-text-opacity: 1;
  color: rgb(17 24 39 / var(--tw-text-opacity))
}

.text-amber-50 {
  --tw-text-opacity: 1;
  color: rgb(255 251 235 / var(--tw-text-opacity))
}

.text-amber-500 {
  --tw-text-opacity: 1;
  color: rgb(245 158 11 / var(--tw-text-opacity))
}

.text-emerald-700 {
  --tw-text-opacity: 1;
  color: rgb(4 120 87 / var(--tw-text-opacity))
}
